table{
    border: 1px solid black;
    width: auto;
}
table th,table td{
    border: 1px solid black;
    width: auto;
}
a{
    cursor: crosshair;
    color: red;
    font-weight: bold;
    text-decoration: underline;
}